/latihan33.yongki.UserLogin/nbproject/private/
/yongki.latihan32.DaftarFilm/build/
/yongki.latihan32.DaftarFilm/nbproject/private/
/latihan34.yongki.kalkulator/nbproject/private/
/latihan34.yongki.kalkulator/build/